.team-area {
  padding: 90px 0 92px;
}
.team-area h5.section-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.team-area h5.section-title:after {
  content: "";
  position: absolute;
  background: #aaa none repeat scroll 0 0;
  width: 40px;
  height: 1px;
  top: 31px;
  left: 50%;
  margin-left: -20px;
}
.team-area .team-members-area {
  padding: 36px 0 0px;
}
.team-area .team-members-area .single-team-member {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.team-area .team-members-area .single-team-member .member-img > a {
  display: block;
  position: relative;
  overflow: hidden;
}
.team-area .team-members-area .single-team-member .member-info h6.member-name {
  font-weight: 700;
  margin: 21px 0 0;
  text-transform: uppercase;
  color: #555;
}
.team-area .team-members-area .single-team-member .member-info p.member-designation {
  color: #fdb903;
  font-weight: 500;
  margin: 3px 0 0;
  text-transform: capitalize;
}
.team-area .team-members-area .single-team-member .member-info p.working-years {
  color: #fdb903;
  font-weight: 500;
  margin: 3px 0 0;
  text-transform: capitalize;
}
.team-area .team-members-area .single-team-member .member-info p.phone-extension {
  color: #fdb903;
  font-weight: 500;
  margin: 3px 0 0;
  text-transform: capitalize;
}
